sockets:
  - url: ws://localhost:1337/
    ssl_verify: False
    tags:
      source: local

handlers:
  - type: print
    namespace: /telemetry

  - type: influxdb
    namespace: /telemetry
    url: http://localhost:8086
    token: ""
    org: ICLR
    bucket: telemetry
    tags:
      source: wired
