socket:
  url: ws://localhost:1337

handlers:
  - type: print
    namespace: /telemetry

  - type: influxdb
    namespace: /telemetry
    url: http://localhost:8086
    token: fZDWkTVbzxVQGY9-Pm9Pc-gPr6mPO7H7pG7FLFVPyG_GkkqwKTINfyFhLv20gxB3-uYR4ED-3sBUkxxmDe7acQ==
    org: ICLR
    bucket: telemetry
    tags:
      source: wired
